body {
    color: black !important;
    background: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-size: 1.1em !important;
    font-family: 'Nunito', sans-serif !important;
}

.shadow {
    text-shadow: 2px 1px 4px rgb(0, 0, 0);
}

#firstScreen {
    min-height: 100%;
    position: absolute;
    text-align: center;
    padding-top: 1%;
    color: black;
    background-image: url(https://images.pexels.com/photos/1242348/pexels-photo-1242348.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

#secondScreen {
    background-image: url(https://images.pexels.com/photos/1587/blurred-background.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.ctr {
    margin: 0 auto !important;
    text-align: center;
}

.bg-trans {
    background: url(https://images.pexels.com/photos/1242348/pexels-photo-1242348.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    width: 100%;
    height: 100vh;
    margin: 10px auto;
}

.paddingTop {
    padding-top: 1%;
}

.btn {
    text-align: center;
}

.animated {
    animation-duration: 1s;
}

#msg {
    font-size: 1em;
}

#globalMsg {
    padding-top: 20%;
    text-align: center;
    font-size: 3em;
}